header {
  background-color: #262626;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

header .logo {
  font-size: 26px;
  color: #fff;
  font-weight: bold;
}

header ul {
  display: flex;
  gap: 26px;
}

header a {
  display: block;
  line-height: 46px;
  margin: 10px 0;
  color: #fff;
} 