@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--fonte);
}

:root {
    --fonte: 'Roboto', sans-serif;
    --bg-color_1: #cccccc;
    --bg-color_2: #455A64;
    --bg-color_3: #ffc207;
}

body {
    background-color: var(--bg-color_1);
}

header {
    width: 100%;
    background-color: var(--bg-color_2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    transition: all 200ms ease;
}

header.light {
    background-color: #fff;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 26px;
    padding: 16px 0;
}

header nav ul li a {
    line-height: 40px;
    color: #fff;
    position: relative;
    display: inline-block;
    transition: all 200ms ease;
}

header.light nav ul li a {
    color: #262626
}

header nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 50%;
    border-radius: 2px;
    transition: all 300ms ease;
}

header nav ul li a:hover::after {
    left: 0%;
    width: 100%;
}

header nav ul li a.active {
    color: var(--bg-color_3);
    font-weight: bold;
}

header nav .mode {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

header nav .mode ion-icon {
    color: #fff;
    transition: all 200ms ease;
}

header.light nav .mode ion-icon {
    color: var(--bg-color_2)
}

header nav .mode .mode-switch {
    width: 40px;
    height: 20px;
    background-color: #00000020;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

header nav .mode .mode-switch::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 5px;
    top: 5px;
    left: 5px;
    position: absolute;
    transition: all 200ms ease;
}

header.light nav .mode .mode-switch::after {
    background-color: #262626;
}

header nav .mode .mode-switch.active::after {
    left: 25px;
}

#container {
    padding: 60px 120px 0 120px;
}

#container h2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
}

#container h2 button {
    height: 40px;
    padding: 0 26px;
    border-radius:  5px;
    border: 0;
    background-color: var(--bg-color_3);
    font-weight: bold;
    cursor: pointer;
    transition-duration: 300ms;
}

#container h2 button:hover {
    background-color: #262626;
    color: var(--bg-color_3)
}

#container .tabela {
    background-color: #fff;
    padding: 26px;
    border-radius: 5px;
    box-shadow:  0px 5px 25px rgba(0, 0, 0, 0.15);
}

#tabela .acoes {
    display: flex;
    gap: 16px;
}

#tabela .acoes ion-icon {
    width: 20px;
    height: 20px;
    background-color: var(--bg-color_3);
    color: #262626;
    border-radius: 20px;
    padding: 10px;
    transition-duration: 200ms;
}

#tabela .acoes ion-icon:hover {
    color: var(--bg-color_3);
    background-color: #262626;
}

#lateral {
    width: 100%;
    height: 100%;
    background-color: #00000070;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    backdrop-filter: blur(3px);
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
}

#lateral.active {
    opacity: 1;
    visibility: visible;
}

#lateral .conteudo {
    width: 400px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: -100%;
    transition-delay: 200ms;
    transition-duration: 300ms;
}

#lateral.active .conteudo {
    right: 0;
}