:root {
    --bg-color: #E5E5E5;
    --bg-footer: #1F1F1F;
    --btn-color: #C92071;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
}

main {
    background-color: var(--bg-color)
}


footer {
    background-color: var(--bg-footer)
}
