@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

:root {
    --bg-color: #E5E5E5;
    --bg-footer: #1F1F1F;
    --btn-color: #C92071;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

main {
    background-color: var(--bg-color);
    background-image: linear-gradient(170deg, #c7c6c6 20%, #fff 80%);
}

header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    gap: 10px;
    padding: 30px
}

header h1 {
    font-weight: 600;
    font-size: 23px;
    color: var(--btn-color);
}

header img {
    width: 22px;
    height: 22px;
}

section {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    margin: 30px;
}

section div:first-child {
    width: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

section div:first-child div {
    width: 100%;
    padding: 10px 30px;
}

section div:first-child div:nth-child(1) h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #1F1F1F;
    margin-bottom: 10px;
}

section div:first-child div:nth-child(1) p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #474747;
}

section div:first-child div:nth-child(1) p a {
    color: #474747;
    text-decoration: underline;
}

section div:first-child div:nth-child(2) label,
input {
    color: #474747;
    border: none;
    border-radius: 8px;
}

section div:first-child div:nth-child(2) label {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
}

section div:first-child div:nth-child(2) input {
    background-color: #D8D8FA;
    height: 60px;
    width: 100%;
    padding: 16px 24px;
    margin-bottom: 10px;
}

section div:first-child div:nth-child(3) a {
    color: #474747;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
}

section div:first-child div:nth-child(3) button {
    background-color: #C92071;
    border: none;
    border-radius: 8px;
    color: #fff;
    width: 100%;
    height: 48px;
    cursor: pointer;
    margin: 10px 0;
}

 section div:first-child div img {
    width: 20px;
    height: 18px;
    margin-right: 5px;
 }

 section div:first-child div span {
    font-weight: 400;
    font-size: 16px;
    margin-left: 170px;
    padding-right: 5px;
    color: #474747;
 }
/*tenis*/

section div:last-child {
    width: 50%;
}

.foot img{
    width: 250px;
    height: 483px;
}

.foot img:first-child {
    transform: rotate(-10deg) scale(1.1) translateY(-20px);
}

@media screen and (max-width: 460px) {
    .foot {
        display: none;
    }

    section div:first-child{
        width: 100%;
    }
}

.foot img:last-child {
    transform: rotate(10deg);
}
footer {
    background-color: var(--bg-footer);
    height: 450px;
}