* {
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  text-align: center;
}

table td {
  border: 1px solid black;
}

.bandeira {
  border: 1px solid red;
  width: 100px;
  height: 50px;
  position: relative;
}

h4 {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  line-height: 50px;
  color: aliceblue;
  text-shadow: 0px 0px 3px black;
}

img {
  width: 40%;
}