* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.topo {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-top: 0;
    border-radius: 5px;
    
}

.topo img {
    width: 100px;
    height: 80px;
    border-radius: 50%;
}

.topo h2 {
    font-family: monospace;
    font-size: 18px;
}

#produtos ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

#produtos .col-9 ul li {
    width: 32%;
}


#categorias li h6{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px
}

#categorias li span {
    display: block;
    line-height: 26px;
}


#products img {
    object-fit: contain;
    height: 100px;
    margin: 5px;
}

#products p {
    font-size: 12px;
}

#products li{
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

#products li .card-body {
    height: 200px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


#products li .card-body h5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: pre-wrap;
    font-size: 16px;
}

#products li div .card-body {
    position: relative;
}

#products li div .card-body a {
    position: absolute;
    bottom: 0;
}

#products li div p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
}

.card-item {
    display: flex;
    flex-direction: column;
}