/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');

:root {
    --icon-color: #ffd369;
    --bg-color: #121212;
    --bg-card: #1e1e1f;
    --bg-information: #373737;
    --text-hover: #d4b05d;
    --avatar: #3B3B3C;
}

* {
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
