* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    color: whitesmoke;
}

:root {
    --card-color-primary: #338af3;
    --card-title-border-color: #338af3;
    --card-bg-color: #202024;
      --bg: url(./assets/bg-blue.svg)
  }

body {
    background: #121214 var(--bg) no-repeat top center/cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    width: 100%;
}

h1 {
    text-align: center;
    font-weight: bold;
}

section {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin: 1rem 4rem;
}

.t-aside {
    width: 100%;
}

.t-aside tr {
    margin-top: -5px;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    border: 2px solid var(--card-title-border-color);
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.37);
}

.t-aside tr:nth-child(1) {
    border-bottom: none;
}

.t-aside tr:nth-child(2) {
    border-bottom: none;
}

.t-aside tr:nth-child(3) {
    border-bottom: none;
}


.t-aside tr td {
    margin: 0.3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-weight: bolder;
}

.t-aside tr td img {
    width: 30px;
    margin: 0 auto;
}

.t-main {
    width: 100%;
    height: 100%; 
}

.t-main tbody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}

.t-main tr {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.t-main tr td {
    background-color: rgba(0, 0, 0, 0.384);
    margin: 5px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.t-main__aside td{
    height: calc(100% / 4);
    border: 2px solid green;
}

.t-main__aside__four td {
    border: 2px solid tomato;
}

.t-main__aside__four, .t-main__central {
    align-items: flex-start;
    justify-content: center;
}

.t-main__central {
    padding-top: 10rem;
    justify-content: flex-start;
}

.t-main__central td {
    border: 2px solid gold;
}